<html>
<head>
<link rel="stylesheet" type="text/css" href="static/ludo.css">
</head>
  <body>
    <center>
	<img src='logo.png' alt="logo" height="200px"/>
	<div>
    <form action="/create" method="post">
	<h2>create</h2>  
	 <div>name:<input name="name" size="10"></input></div><br/>
	
	 <div>type:  
	  <select name="what">
			{% for etype in eventtypes %}
			<option value="{{etype}}">{{etype}}</option>
			{% endfor %}
	  </select>
	  or create new:
	  <input name="what" size="10"></input>
	</div><br/>
	   
      <div>The event needs <input name="participants" size="2"></input>participants</div><br/>
	  <div>location: <input name="where" size="10"></input></div><br/>
	  <div>when: <input name="when" size="10"></input></div><br/>
	  If not filled by <input name="deadline" size="10"></input>
	  extend invite to:
			<select name="who">
				{% for group in groups %}
					<option value="etype">{{group}}</option>
				{% endfor %}
			</select>
	  
	  
      <div><input type="submit" value="Create this"></div>
    </form>

	 <a href="/">home</a>
	
	</div>
	</center>
	<!--
    <a href="{{ url }}">{{ url_linktext }}</a>
-->
  </body>
</html>