<html>
<head>
<link rel="stylesheet" type="text/css" href="static/ludo.css">
</head>
  <body>
    <center>
	<img src='logo.png' alt="logo" height="200px"/>
	<div>
    <form action="/join" method="post">
	 <div class="formsubmit">
	 <input type="submit" value="You in or out? Join this event!"/>
	  </div>
	  <input type="hidden" name="eventkey" value="{{eventkey}}"/>
	  <input type="hidden" name="user" value="{{user}}"/>
    </form>
	 <div>name:{{event.name}}</div><br/>
	 <div>type:{{event.what}}</div><br/>
	 <div>location:{{event.where}}</div><br/>
	 <div>when: {{event.when}}</div><br/>
	 
	 {% if userevents.length != 0 %}
	  <div>The event has {{userevents.length}} participants</div>
	  {% for ue in userevents %}
	       {{ue.user}}
	   {% endfor %}
	  {% endif %}
	  
	  <br/>
	  Invite others! (add valid emails) 
    <form action="/addpeople" method="post">
	    <textarea name="users" rows="3"></textarea>
		<input type="submit" value="Invite these people!!!! Now!!!!"/>
		<input type="hidden" name="eventkey" value="{{eventkey}}"/>
		<input type="hidden" name="user" value="{{user}}"/>
    </form>
	  <br/>
	  

	 <a href="/">home</a>
	
	</div>
	</center>
	<!--
    <a href="{{ url }}">{{ url_linktext }}</a>
-->
  </body>
</html>