<html>
<head>
<link rel="stylesheet" type="text/css" href="static/ludo.css">
</head>
  <body>
  <center>
  <img src='logo.png' alt="logo" height="200px"/>
  <div>
	Hi {{name}}, 


	 {% if userevents.length != 0 %}
	 These are your upcoming events...
    <table border='0'>
			<tr><td><b>name</b></td><td><b>what</b></td><td><b>when</b></td><td><b>where</b></td></tr>
			{% for event in userevents %}
			<tr><td><a href="/details?eventkey={{event.key}}&user={{name}}">{{event.name}}</a></td><td>{{event.what}}</td><td>{{event.when}}</td><td>{{event.where}}</td></tr>
			{% endfor %}
	  </table>
     {% endif %}
 	
	Want something to do? join an event:
	  <table border='0'>
			<tr><td><b>name</b></td><td><b>what</b></td><td><b>when</b></td><td><b>where</b></td></tr>
			{% for event in events %}
			<tr><td><a href="/details?eventkey={{event.key}}&user={{name}}">{{event.name}}</a></td><td>{{event.what}}</td><td>{{event.when}}</td><td>{{event.where}}</td></tr>
			{% endfor %}
	  </table>
    <form action="/find" method="post">
	Refine your search: <select name="what">
			<option value="all">all events</option>
			{% for etype in eventtypes %}
			<option value="etype">{{etype}}</option>
			{% endfor %}
		</select>
		<br/>
		with: <select name="who">
			<option value="all">everyone</option>
			{% for group in groups %}
			<option value="etype">{{group}}</option>
			{% endfor %}
		</select>
		<br/>
		when: 
		<select name="when">
			<option value="all">whenever</option>
			<option value="days">Week days</option>
			<option value="nights">Week nights</option>
			<option value="weekenddays">Weekend days</option>
		</select>
 	<div><input type="submit" value="Find"></div>
    </form>

	
	<a href='/create'>Create</a>
	</center>
  </body>
</html>